*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    background-color: black;
    color:white
}

#Users{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: darkgrey;
}
#userData{
    margin: 20px 50px;
    border:2px solid black;
    padding: 30px  50px;
}
#userData input{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
button{
    display: flex;
    align-items: center;
}